.container__continue-assistindo {
    display: flex;
    flex-direction: column;
    background-color: #141414ff;
    padding-left: 60px;
    padding-top: 30px;
    gap: 10px;
    padding-bottom: 100px;
    align-items: flex-start;
}

.container__continue-assistindo-titulo {
    font-family: NetflixSans-Medium;
    font-weight: 500;
    font-size: 1.625rem;
    color: #fff;
    line-height: 33.2px;
}

.slide-imagem {
    width: 285px;
    height: auto;
    margin-right: 5px;
}

.quantidade-assistida {
    margin: 0 auto;
    margin-top: 8px;
    height: 3px;
    width: 175px;
    background: #6D6D6E;
    position: relative;
}

.quantidade-assistida span {
    width: 30%;
    height: 3px;
    background-color: #b9090bff;
    position: absolute;
}