.container__popular-netflix {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    transform: translateY(-100%);
    left: 60px;
}

.container__popular-netflix-titulo {
  font-family: NetflixSans-Medium;
  font-weight: 500;
  font-size: 1.625rem;
  color: #fff;
  line-height: 33.2px;
}

.slide-imagem {
  width: 285px;
  height: auto;
  margin-right: 5px;
}
