.container__cabecalho {
    display: flex;
    position: fixed;
    z-index: 999;
    width: 100vw;
    box-sizing: border-box;
    background-color: transparent;
    justify-content: space-between;
    align-items: center;
    font-family: NetflixSans-Medium;
    font-size: 0.875rem;
    padding: 20px 4%;
    transition: 300ms all;
}

.header__background {
    background-color: #141414ff;
}

.container__cabecalho__esquerdo {
    display: flex;
    gap: 50px;
}

.container__cabecalho__esquerdo img {
    width: 111px;
}

.container__cabecalho__esquerdo-menu {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #e5e5e5;
}

.menu-item-selecionado {
    font-family: NetflixSans-Black;
    color: #FFF;
}

.container__cabecalho__direito {
    display: flex;
    gap: 20px;
    align-items: center;
}

.container__cabecalho__direito p {
    color: #FFF;
}

.container__cabecalho__direito-perfil {
    display: flex;
    align-items: center;
    gap: 10px;
}

.container__cabecalho__direito-perfil__imagem-do-perfil {
    width: 32px;
    height: 32px;
}